<div class="ui three column centered grid fellow-top-padding">
  <div class="column">
    <h3><p>Add Target</p></h3>

    <%= simple_form_for([:admin, @ref_target]) do |form| %>
      <%= form.input :name, placeholder: "Target Name", label: '<p class="fellow-lables">Target Name</p>'.html_safe, autofocus: true %>
      <%= form.button :submit, "Create Target" %>
      <div class="ui basic button" id="cancelEventFormButton"><a>Cancel</a></div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
 $(document).ready(function(){

   $('#cancelEventFormButton').on('click', function(){
     var data = $('#new_ref_target').serializeArray().reduce(function(obj, item) {
       obj[item.name] = item.value;
       return obj;
     }, {});
     if (checkData(data)){
       alertify.confirm("Please Confirm", "Are you sure you want to continue. Your data will not be saved.", function(){

         window.location = "<%= admin_ref_targets_path %>"

       }, function () {})
     } else {
       window.location = "<%= admin_ref_targets_path %>"
     }
   });

   // Code to check if a form has any values filled
   function checkData(data) {
     var count = 0;
     for (variable in data)
 	   { if (!(variable === "utf8" || variable === "authenticity_token")) {
	     if (!(data[variable] == "")){
           return true;
         }
       }
       }
   };

 });

</script>
