<div class="ui three column centered grid">
  <div class="column fellow-top-padding">

    <h2>Resend unlock instructions</h2>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, autofocus: true, placeholder: "Email", label: '<p class="fellow-lables">Email</p>'.html_safe %>
      <%= f.button :submit, "Resend unlock instructions" %><br><br>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
